In [5]:
import pandas as pd

In [6]:
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

purchase_data.head(4)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27

In [9]:
#Total Number of Players
player_counts = len(purchase_data["SN"].value_counts())
player_counts

#Create DataFrame
player_counts = [{"Total Number of Players": player_counts}]
player_counts = pd.DataFrame(player_counts)
player_counts

   Total Number of Players
0                      576

In [10]:
#Number of Unique Items
unique_items = len(purchase_data["Item Name"].unique())

#Average Purchase Price
average_price = purchase_data["Price"].mean()
#.map("$(:,.2f)".format)

#Total Number of Purchases
number_purchases = purchase_data["Purchase ID"].count()
number_purchases

#Total Revenue
total_revenue = purchase_data["Price"].sum().astype("float")
total_revenue

#Create DataFrame
purchasing_analysis = [{"Number of Unique Items": unique_items, "Average Purchase Price": average_price, "Total Number of Purchases": number_purchases, "Total Revenue": total_revenue }]
purchasing_analysis = pd.DataFrame(purchasing_analysis)
purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

Average Purchase Price

3.050987179487176

780

2379.77