In [127]:
import pandas as pd

In [128]:
# Note
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

purchase_data.head(4)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27

In [140]:
# Player Count
#Total Number of Players
player_counts = len(purchase_data["SN"].value_counts())
player_counts

#Create DataFrame
player_counts = [{"Total Number of Players": player_counts}]
player_counts = pd.DataFrame(player_counts)
player_counts

   Total Number of Players
0                      576

In [130]:
#Purchasing Analysis (Total)
#Number of Unique Items
unique_items = len(purchase_data["Item Name"].unique())

#Average Purchase Price
average_price = purchase_data["Price"].mean()
#purchase_data["Price"] = purchase_data["Price"].map("${:.2f}".format)


#Total Number of Purchases
number_purchases = purchase_data["Purchase ID"].count()
number_purchases

#Total Revenue
total_revenue = purchase_data["Price"].sum().astype("float")

#Create DataFrame
purchasing_analysis = [{"Number of Unique Items": unique_items, "Average Purchase Price": average_price, "Total Number of Purchases": number_purchases, "Total Revenue": total_revenue }]
purchasing_analysis = pd.DataFrame(purchasing_analysis)
purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [174]:

#Gender Demographics
#Count of Male, Female and Other Players

male_df = purchase_data.loc[purchase_data["Gender"] == "Male",:]
male_count = len(male_df["SN"].value_counts())
female_df = purchase_data.loc[purchase_data["Gender"] == "Female",:]
female_count = len(female_df["SN"].value_counts())
other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",:]
other_count = len(other_df["SN"].value_counts())
total_df_counts = male_count+female_count+other_count

#Percentage of Male, Female and Other Players
percentage_male = male_count / 576
percentage_female = female_count / 576
percentage_other = other_count / 576

demographic_data = [{"Gender": "Male", "Total Count":male_count, "Percentage of Players": percentage_male},
                    {"Gender": "Female", "Total Count": female_count, "Percentage of Players": percentage_female},
                    {"Gender": "Other / Non-Disclosed", "Total Count": other_count, "Percentage of Players": percentage_other}]

demographic_df = pd.DataFrame(demographic_data)
#demographic_df["Percentage of Players"] = demographic_data["Percentage of Players"].map("{.2%}".format)
demographic_df.set_index("Gender",inplace=True)
demographic_df

                       Total Count  Percentage of Players
Gender
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

In [229]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
gender_groups = purchase_data.groupby("Gender")
gender_purchase = gender_groups["SN"].value_counts()


Male = gender_purchase["Male"].sum()
Female = gender_purchase["Female"].sum()
Other = gender_purchase["Other / Non-Disclosed"].sum()
Total = (Male+Female+Other)

average_purchase_male = 1967.64 / male_count
average_purchase_female = 361.94 / female_count
average_purchase_other = 50.19 / other_count

#Run basic calculations to avg. purchase price, avg. purchas
average_purchase = gender_groups["Price"].mean()
total_purchase = gender_groups["Price"].sum()

#Optional: give the displayed data cleaner formatting
data_df1 = pd.DataFrame({"Total Purchase Value": total_purchase,
                         "Average Purchase Price": average_purchase})
df1 = pd.DataFrame(data_df1)


data_df2 = pd.DataFrame({"Purchase Count":[Female, Male, Other], 
                         "Avg Total Purchase per Person":[average_purchase_female, average_purchase_male, average_purchase_other]},
                       index=["Female","Male","Other / Non-Disclosed"])
        
df2 = pd.DataFrame(data_df2)

#Display the summary data frame
result = pd.concat([df2, df1], axis=1).reindex(df1.index)
result

,Purchase Count,Avg Total Purchase per Person,Total Purchase Value,Average Purchase Price
Gender,,,,
Female,113,4.468395,361.94,3.203009
Male,652,4.065372,1967.64,3.017853
Other / Non-Disclosed,15,4.562727,50.19,3.346000

In [251]:
#Age Demographics
#Establish bins for ages
bins = [0,9,14,19,24,29,34,39,1000]

#Establish bins for ages
group_labels = ["<10", "10-14", "15-19", "20-24",
                "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins
purchase_data["Age group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

#Create a summary data frame to hold the results
new_df = purchase_data
unique_players = new_df.drop_duplicates(subset="SN")
grouped_age_df = unique_players.groupby(["Age group"])
age_group_df2 = grouped_age_df["SN"].count()

#Optional: round the percentage column to two decimal points
#age_group_df["Percentage of Players"] = age_group_df["SN"]/total_df_counts
#age_group_df["Percentage of Players"] = age_group_df["Percentage of Players"]
#age_group_df = age_group_df.rename(columns={"SN":"Total Count", "Percentage of Players": "Percentage of Players"})

#Display Age Demographics Table
age_group_df2

Age group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64